/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media only screen and (max-width:340px){
    .container{
      margin-inline: 1rem;
    }
    .nav__menu{
      padding-bottom: 4rem;
    }
    .nav__list{
      gap:1rem 1.25rem;
    }
    .skills__info{
      grid-template-columns: repeat(2,1fr);
    }
  
    .projects__img{
      width: 200px;
      justify-self:center ;
    }
  }
  
  /* For medium devices */
  @media only screen and (min-width:576px){
    .nav,.nav__menu{
      width: 380px;
    }
    .nav{
      margin: 0 auto;
    }
  
    .skills__container{
      justify-content: center;
    }
    .projects__container{
      width: 400px;
      overflow: hidden;
    }
    .swiper-button-prev{
      left: 1rem !important;
    }
    .swiper-button-next{
      right: 1rem !important;
    
    }
  
    .swiper-button-prev,.swiper-button-next{
  
      top: 10rem !important;
    
      
      
    }
  }
  
  @media only screen and (min-width:767px){
    .home__container{
      grid-template-columns:1fr 2fr 1fr ;
    }
    .home__data{
      order: 2;
    }
    .home__info:nth-child(3){
      order: 3;
      text-align: right;
    }
  .home__info{
    margin-top: 10rem;
  }
  
  .home__info-description{
  padding-right: 0;
  }
  .skills__container,.services__container,.contact__container{
    grid-template-columns: repeat(2,max-content);
  }
  .skills__container,.services__container{
    column-gap: 5rem;
  }
  
  .projects__container{
    width: 500px;
  }
  
  
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-content: center;
    column-gap: 8rem;
  }
  
  }
  /* For large devices */
  @media only screen and (min-width:1023px){
    .header{
      top: 0;
      bottom: initial;
      background-color: var(--body-color);
  transition: 0.4s;
    }
    .nav{
      width: initial;
      height: calc(var(--header-height) + 1.5rem);
      box-shadow: none;
      border-radius:0 ;
      column-gap: 3rem;
      margin-inline: 1.5rem;
      padding: 0;
    }
    .nav__link svg,.nav__toggle,.nav__close{
  display: none;
    }
    .nav__menu{
      width: initial;
      margin-left: auto;
      background-color: var(--body-color);
      transition: background 0.4s;
    }
    .nav__list{
      display: flex;
      column-gap: 3rem;
    }
    .nav__link{
      font-size: var(--normal-font-size);
      
    }
  
    .section{
      padding-block: 8rem 0;
    }
    .home__title{
      font-size:2.25rem;
    }
  
    .scrollup{
      right: 3rem;
    }
    .show-scroll{
      bottom: 5rem;
    }
  
  
    .bg-header{
      box-shadow: 0 4px 20px hsla(207,24%,35%,0.1);
    }
  
  
  }
  
  @media only screen and (min-width:1048px){
    .container{
      margin-inline: auto;
    }
  }
  
  @media only screen and (min-width:1200px){
    .section__border{
      padding-bottom: 6rem;
    }
    .section__subtitle{
      margin-bottom: 5rem;
    }
    .home__title{
      font-size: var(--biggest-font-size);
    }
    .home__blob{
      width: 370px;
      height: 580px;
      border-radius: 12.5rem;
    }
    .home__perfil{
      width: 300px;
      height: 520px;
      border-radius: 10.6rem;
    }
    .home__perfil img{
      width: 300px;
    }
    .home__data{
      row-gap: 2.5rem;
    }
    .home__social{
      column-gap: 2rem;
    }
    .social__link{
      font-size: 1.5rem;
    }
    .home__info{
      grid-template-rows: repeat(3,130px);
      row-gap: 4rem;
      margin-top: 16rem;
  
    }
    .skills__container{
      column-gap:10rem;
    }
    .skills__title{
      margin-bottom: 3rem;
    }
    .skills__name{
      font-size: var(--normal-font-size);
    }
  .skills__info{
    gap:3rem;
  }
  .services__container{
    grid-template-columns: repeat(3,max-content);
  }
  .services__card{
    width: 245px;
    height: 345px;
    border-radius: 7.6rem;
    padding: 3.5rem 1.5rem;
  
  
  }
  .services__border{
    width: 265px;
    height: 365px;
    border-radius: 8.25rem;
  }
  
  .projects__container{
    width: 900px;
  }
    .projects__img{
      width: 320px;
      margin-bottom: 2rem;
  
    }
  .contact__title{
    margin-bottom: 3rem;
  }
  .contact__info{
    row-gap: 3rem;
  }
  .contact__data-info{
    font-size: var(--normal-font-size);
  }
  .contact__form{
    row-gap: 2.5rem;
  }
  .footer__container{
    padding: 4rem 0 3rem;
  }
  .footer__list{
    column-gap:3rem;
    margin: 3rem 0;
  }
  .footer__social{
    column-gap: 2rem;
  }
  .footer__social-link{
    font-size: 1.5rem;
  }
    .footer__copy{
      margin-top: 5rem;
    }
  }